#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 /* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #dab3b3;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Estilos para las etiquetas */
label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Estilos para los inputs */
input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: white;
  color: black;
}

input[type="text"]:focus {
  border-color: #007BFF;
  background-color: rgb(246, 245, 245);
  outline: none;
  color: black
  
}

/* Estilos para los botones */
button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: white;
}

button[type="submit"] {
  background-color: #007BFF; /* Azul */
  color: black;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Azul oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

button[type="button"] {
  background-color: #f44336; /* Rojo */
  color: black;
  margin-top: 10px;
}

button[type="button"]:hover {
  background-color: #d32f2f; /* Rojo oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}